@model ProjectCard

<div class="container">
    <div class="flex project-description-div">
        <h2 class="title-project-description">@Model.Title</h2>
        <img class="image-project-description" src="@Model.Image" alt="" >
    </div>
    <hr/>
    <p class="project-descr">@Model.Description</p>
</div>
