@{
    ViewData["Title"] = "Blog Page";
}
<section class="blog section-offset">
    <div class="container">
        <h2 class="section-title">
            Блог
        </h2>
        <p class="section-description">
            Описание секции блог
        </p>
        <ul class="blog-list list-reset flex">
            <li class="bloc-item">
                <article class="blog-preview flex">
                    <img src="~/assets/img/blog-1.jpg" alt="Blog photo 1" class="blog-preview-image">
                    <div class="blog-preview-text">
                        <time class="blog-preview-time" datetime="2021-11-15 19:30">
                            15 Nov 2021
                        </time>
                        <h3 class="blog-preview-title">
                            Как уменьшить затраты на&nbsp;ИТ поддержку вашего бизнеса.
                        </h3>
                        <p class="blog-preview-description">
                            Эта статья будет полезна тем, кто хочет сократить расходы на&nbsp;ИТ без потерь в&nbsp;качестве обслуживания.
                        </p>
                    </div>
                </article>
            </li>
            <li class="bloc-item">
                <article class="blog-preview flex">
                    <img src="~/assets/img/blog-2.jpg" alt="Blog photo 2" class="blog-preview-image">
                    <div class="blog-preview-text">
                        <time class="blog-preview-time" datetime="2021-11-15 19:30">
                            28 Oct 2021
                        </time>
                        <h3 class="blog-preview-title">
                            Как сохранить данные, не&nbsp;потеряв в&nbsp;деньгах. Часть&nbsp;1.
                        </h3>
                        <p class="blog-preview-description">
                            Эта статья будет полезна тем, кто пытается понять, как в&nbsp;современных реалиях надёжно хранить рабочие данные, результаты и&nbsp;другую значимую информацию для бизнеса.
                        </p>
                    </div>
                </article>
            </li>
            <li class="bloc-item">
                <article class="blog-preview flex">
                    <img src="~/assets/img/blog-3.jpg" alt="Blog photo 3" class="blog-preview-image">
                    <div class="blog-preview-text">
                        <time class="blog-preview-time" datetime="2021-11-15 19:30">
                            4 May 2021
                        </time>
                        <h3 class="blog-preview-title">
                            Как сохранить данные, не&nbsp;потеряв в&nbsp;деньгах. Часть&nbsp;2.
                        </h3>
                        <p class="blog-preview-description">
                            Продолжение статьи о&nbsp;современных способах и&nbsp;средствах надёжного хранения данных для малого бизнеса.
                        </p>
                    </div>
                </article>
            </li>
            <li class="bloc-item">
                <article class="blog-preview flex">
                    <img src="~/assets/img/blog-4.jpg" alt="Blog photo 4" class="blog-preview-image">
                    <div class="blog-preview-text">
                        <time class="blog-preview-time" datetime="2021-11-15 19:30">
                            17 Sep 2021
                        </time>
                        <h3 class="blog-preview-title">
                            Как телефонизировать офис не&nbsp;переплатив. Часть&nbsp;1.
                        </h3>
                        <p class="blog-preview-description">
                            Эта статья поможет вам понять основные сведения о&nbsp;IP&nbsp;Телефонии для планирования расходов при телефонизации и&nbsp;дальнейшей работе.
                        </p>
                    </div>
                </article>
            </li>
        </ul>
    </div>
</section>