@{
    ViewData["Title"] = "Contacts Page";
}
<section class="contacts section-offset">
    <div class="container">
        <h2 class="section-title">
            Контакты(Подумать над расположением)
        </h2>
        <address class="contact-addres">
            <ul class="list-reset contacts-list flex">
                <li class="contacts-item contacts-item-address flex">
                    <strong class="contacts-item-title">
                        Место расположения
                    </strong>
                    <p class="contact-item-text">
                        Какой-то адрес
                    </p>
                    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A565903131873fcff39692023e61d4ba131107c81f3ab7128faad9225cbdb82ea&amp;width=447&amp;height=394&amp;lang=ru_RU&amp;scroll=true"></script>
                </li>
                <li class="contacts-item contacts-item-call flex">
                    <strong class="contacts-item-title">
                        Телефон
                    </strong>
                    <a href="tel:+79661346522" class="contacts-item-link">
                        +7 (966) 134-65-22
                    </a>
                    <a href="+79258452396" class="contacts-item-link">
                        +7 (925) 845-23-96
                    </a>
                </li>
                <li class="contacts-item contacts-item-email flex">
                    <strong class="contacts-item-title">
                        Почта
                    </strong>
                    <a href="mailto:example@example.com" class="contacts-item-link">
                        example@example.com
                    </a>
                    <a href="mailto:support@support.com" class="contacts-item-link">
                        support@support.com
                    </a>
                </li>
            </ul>
        </address>
    </div>
</section>