@{
    ViewData["Title"] = "Contacts Page";
}
<section class="contacts section-offset">
    <div class="container">
        <h2 class="section-title">
            Контакты
        </h2>
        <address class="contact-addres">
            <ul class="list-reset contacts-list flex">
                <li class="contacts-item contacts-item-address flex">
                    <strong class="contacts-item-title">
                        Место расположения
                    </strong>
                    <p class="contact-item-text">
                        Какой-то адрес
                    </p>
                    <!--Добавить карту-->
                </li>
                <li class="contacts-item contacts-item-call flex">
                    <strong class="contacts-item-title">
                        Телефон
                    </strong>
                    <a href="tel:+79661346522" class="contacts-item-link">
                        +7 (966) 134-65-22
                    </a>
                    <a href="+79258452396" class="contacts-item-link">
                        +7 (925) 845-23-96
                    </a>
                </li>
                <li class="contacts-item contacts-item-email flex">
                    <strong class="contacts-item-title">
                        Почта
                    </strong>
                    <a href="mailto:example@example.com" class="contacts-item-link">
                        example@example.com
                    </a>
                    <a href="mailto:support@support.com" class="contacts-item-link">
                        support@support.com
                    </a>
                </li>
            </ul>
        </address>
    </div>
</section>