@{
    ViewData["Title"] = "Projects Page";
}
<section class="projects section-offset">
    <div class="container">
        <h2 class="section-title">
            Проекты
        </h2>
        <ul class="projects-list list-reset flex">
            <li class="projects-list-item flex">
                <img src="~/assets/img/sberbank.jpg" alt="Сбербанк" class="project-image">
                <p class="project-description-text">
                    Обработка кредитных запросов в&nbsp;режиме онлайн
                </p>
            </li>
            <li class="projects-list-item flex">
                <img src="~/assets/img/myasko.jpg" alt="Мясницкий ряд" class="project-image">
                <p class="project-description-text">
                    Управление кадрами и&nbsp;расчет зарплаты
                </p>
            </li>
            <li class="projects-list-item flex">
                <img src="~/assets/img/readcity.jpg" alt="Читай город" class="project-image">
                <p class="project-description-text">
                    Доработка CRM и&nbsp;корпоративного интернет-магазина
                </p>
            </li>
        </ul>
    </div>
</section>