@{
    ViewData["Title"] = "Services Page";
}
<section class="services section-offset">
    <div class="container">
        <h2 class="section-title">
            Услуги
        </h2>
        <p class="section-description">
            Что мы можем сделать
        </p>
        <ul class="services-list list-reset">
            <li class="services-item">
                <details class="services-details">
                    <summary class="services-summary">Импортозамещение</summary>
                    <p class="services-description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda quo la
                        boriosam sit facere quod reiciendis eaque recusandae illo sequi ipsam architecto
                        nam maxime dolorum impedit, non pariatur minus. Neque, at!Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda quo la
                        boriosam sit facere quod reiciendis eaque recusandae illo sequi ipsam architecto
                        nam maxime dolorum impedit, non pariatur minus. Neque, at!
                    </p>
                </details>
            </li>
            <li class="services-item">
                <details class="services-details">
                    <summary class="services-summary">Цифровые решения</summary>
                    <p class="services-description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda quo la
                        boriosam sit facere quod reiciendis eaque recusandae illo sequi ipsam architecto
                        nam maxime dolorum impedit, non pariatur minus. Neque, at!Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda quo la
                        boriosam sit facere quod reiciendis eaque recusandae illo sequi ipsam architecto
                        nam maxime dolorum impedit, non pariatur minus. Neque, at!
                    </p>
                </details>
            </li>
            <li class="services-item">
                <details class="services-details">
                    <summary class="services-summary">Аналитика</summary>
                    <p class="services-description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda quo la
                        boriosam sit facere quod reiciendis eaque recusandae illo sequi ipsam architecto
                        nam maxime dolorum impedit, non pariatur minus. Neque, at!Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda quo la
                        boriosam sit facere quod reiciendis eaque recusandae illo sequi ipsam architecto
                        nam maxime dolorum impedit, non pariatur minus. Neque, at!
                    </p>
                </details>
            </li>
            <li class="services-item">
                <details class="services-details">
                    <summary class="services-summary">Техническая поддержка</summary>
                    <p class="services-description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda quo la
                        boriosam sit facere quod reiciendis eaque recusandae illo sequi ipsam architecto
                        nam maxime dolorum impedit, non pariatur minus. Neque, at!Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda quo la
                        boriosam sit facere quod reiciendis eaque recusandae illo sequi ipsam architecto
                        nam maxime dolorum impedit, non pariatur minus. Neque, at!
                    </p>
                </details>
            </li>
        </ul>
    </div>
</section>